<div class="row">
  <app-search-monument></app-search-monument>

  <div *ngFor="let monument of monumentList" class="col m5 s12">
    <div class="card horizontal" appBorderCard="#000">
      <div class="card-image">
        <img [src]="monument.picture" />
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <h5>
            <span [innerHTML]="monument.name | highlight:searchTerm"></span>
            <span *ngIf="favoris.includes(monument.id)">❤️</span>
          </h5>
          <p><small>{{ monument.created | date:"dd/MM/yyyy" }}</small></p>
          <span class="{{ monument.country | countryByColor }}">{{ monument.country }}</span>
        </div>

       <div class="card-action text-center">
  <button class="btn btn-primary" (click)="goToMonument(monument)">VOIR</button>
</div>

      </div>
    </div>
  </div>
</div>
